{% extends template_path %}

{% block id %}{{ id }}_color{% endblock %}
{% block label %}<label for="{{ id }}">{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div class="olh-field-content color">
        <input type="text" name="{{ name }}" id="{{ id }}" value="{{ val }}" class="color-picker" maxlength="7" />
    </div>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
