{% extends template_path %}

{% block id %}{{ identifier }}{% endblock %}
{% block label %}<label for="{{ identifier }}">{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div class="olz-field color">
        <input type="hidden" name="{{ name }}" id="{{ identifier }}" value="{{ value }}" maxlength="7" />

        <script>
            (function($) {
                $(document).ready(function() {
                    $('#{{ identifier }}').wpColorPicker({{ settings|json_encode|replace("'", "&#39;")|raw }});
                });
            })(jQuery);
        </script>
    </div>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
